.detailevent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-top: 120px;
    padding-bottom: 120px;
    .detailevent-left{
        grid-column: 1/9;
    }
    .detailevent-right{
        grid-column: 10/13;
        .profile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid $yellow-cl;
            padding-top:32px ;
            padding-bottom: 50px;
            &__img{
                overflow: hidden;
                img{
                    object-fit: cover;
                }
            }
            &__infor{
                text-align: center;
                padding-bottom: 32px;
                &-title{
                    padding-top: 16px;
                    padding-bottom: 8px;
                    @include text(24px,osl,40px,$yellow-cl,none);
                }
            }
            &__social{
                display: flex;
                align-items: center;
                &-icon{
                    @include mid(true);
                    margin: 0 4px;
                    border-radius: 50%;
                    border: 1px solid $white-cl;
                    height: 32px;
                    width: 32px;
                }
            }
        }
        .search{
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding-top: 40px;
            border-bottom: 1px solid $white-cl;
            .search-input{
                width: 100%;
                background-color: transparent;
                outline: 0;
                border: 0;
                padding: 0;
                color: $white-cl;
                    &::placeholder{
                     color: $white-cl

                    }
             }
        }
        .categories{
            padding-top: 40px;
            &__list{
                &-item{
                    @include text(16px,osl,24px,$white-cl,none);
                    .arrow{
                        padding-right: 4px;
                    }
                }
            }
        }
        .recent{
            padding-top: 46px;
    
         }
         .tags{
            padding-top: 46px;
         }
         .gallery{
            padding-top: 40px;
            &__img{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 9px;
                overflow: hidden;
                img{
                    cursor: pointer;
                    object-fit: cover;
                    min-height: 100%;
                    min-width: 100%;
                }
            }
         }
        .adver{
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__img{
                overflow: hidden;
                img{
                    object-fit: cover;
                    
                }
            }
            &__infor{
                text-align: center;
                padding-bottom: 32px;
                &-title{
                    padding-top: 16px;
                    padding-bottom: 8px;
                    @include text(24px,osl,40px,$yellow-cl,none);
                }
            }
        }
     }
    
 }
